spring:
  mvc:
    view:
      prefix: /WEB-INF/jsp/
      suffix: .jsp
  thymeleaf:
    cache: false
    mode: LEGACYHTML5
  jpa:
    database: mysql
    show-sql: true
    generate-ddl: false
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        show_sql: true
        format_sql: true
        type: trace
 # MULTITENANCY MASTER DATABASE SETUP
multitenancy:
  mtapp:
    master:
      datasource:
        url: jdbc:mysql://zenithdevtest.c9sffuysowjo.ap-southeast-1.rds.amazonaws.com:3306/zenith_master?useSSL=false&createDatabaseIfNotExist=TRUE
        #url: jdbc:mysql://localhost:3306/zenith_master?useSSL=false&createDatabaseIfNotExist=TRUE
        username: admin
        password: admin123
        driverClassName: com.mysql.cj.jdbc.Driver
        connectionTimeout: 20000
        maxPoolSize: 35
        idleTimeout: 300000
        minIdle: 10
        poolName: masterdb-connection-pool
        dialect: org.hibernate.dialect.MySQL5InnoDBDialect

# LOGGING LEVELS
logging:
  level:
    org:
      hibernate:
        type:
          descriptor:
            sql:
              BasicBinder: TRACE

        
