<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <title>
      Insert title here
    </title>
  </head>
  <body>
    <form class="trademust" style="width:500px;">
      <table class="trademust">
        <tr>
          <td class="formHeading">
            Email Preview
            <img src="images/close.png" align="right" title="Close" onclick="emailMessage_cancelPreview ()"/>
          </td>
        </tr>
        <tr>
          <td class="trademust" style="background-color:white;">
            <div id="preview_div_viewData">
            </div>
          </td>
        </tr>
      </table>
    </form>
  </body>
</html>
