<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<form class="trademust" id="templateList_form_id">
      <table class="trademust">
        <tr>
          <td class="trademust">
            <div id="templateList_div_dataGridToolbar">
              <table class="trademust" cellpadding="2" cellspacing="2" summary="">
                <tr>
                  <td class="trademust" style="width:15%">
                   <button 
                        class="trademust addButton"
                        type="button"
                        onclick="templateList_showAddPopup ()">
                      New Template
                    </button>
                  </td>
                  <td class="trademust" style="width:40%">
                    <input 
	                    class="filterTextBox" 
	                    id="filterTemplate_input_templatename" 
	                    onkeypress="handleFilter('templateList_filter()','')"
	                    placeholder="Template Name"/>
                  </td>
                  <td class="trademust" style="width:10%">
                    <button class="filterButton" type="button" onclick="templateList_filter()">
                      Filter
                    </button>
                  </td>
                </table>
              </div>
            </td>
          </tr>
          <tr>
            <td class="trademust">
              <div id="templateList_div_horizontalSplitter" style="z-index: 0">
                <div id="div_dataGrid">
                  <table 
                      id="templateList_table_templateListDG"
                      class="easyui-datagrid"
                      style="height:50%;"
                      title="Template List"
                      data-options="striped:true, remoteSort:false, pagination:true, pagesize:15, rownumbers:true, fitColumns:true, singleSelect:true, toolbar:'#templateList_div_dataGridToolbar'">
                  </table>
                </div>
                <div class="gridDetails" id="templateList_div_listDetail">
                </div>
              </div>
            </td>
          </tr>
        </table>
      </form>
</body>
</html>