<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<form id="templateCategory_form_id" class="trademust" style="width:360px">
      <table class="trademust">
        <tr>
          <td class="formHeading">
            Template Category
          </td>
        </tr>
        <tr>
          <td class="fieldHeading">
          	Category Name
          </td>
        </tr>
        <tr>
          <td class="fieldData">
            <input type="text" 
                   id="templateCategory_input_name" 
                   class="trademust easyui-validatebox"
                   data-options="required:true"
                   onchange="templateCategory_checkCategory ()"/>
          </td>
        </tr>
        <tr>
          <td class="trademust" align="right">
            <hr>
            <button id="templateCategory_button_create" class="trademust" update="false"  type="button" onclick="templateCategory_submit()">
              Create
            </button>
            <button id="templateCategory_button_cancel" class="trademust" type="button" onclick="templateCategory_cancel()" >
              Cancel
            </button>
          </td>
        </tr>
      </table>
    </form>
</body>
</html>